<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/dev/enchant.js"></script>
    <script src="/game.js"></script>
  </head>
  <body>
	<div class="navbar navbar-static-top">
	  <div class="navbar-inner">
		<div class="container">
		  <a class="brand" href="#"><%= title %></a>
		</div>
	  </div>
	</div>
	<div class="container">
		<div id="enchant-stage" class="offset2"></div>
	</div>
  </body>
</html>
