<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/dev/enchant.js"></script>
    <script src="/dev/plugins/ui.enchant.js"></script>
    <script src="/game.js"></script>
  </head>
  <body>
	<div class="navbar navbar-static-top">
	  <div class="navbar-inner">
		<div class="container">
		  <a class="brand" href="#"><%= title %></a>
		  <ul class="nav pull-right">
			<li><a href="/logout">Logout</a></li>
		  </ul>
		</div>
	  </div>
	</div>
	<div class="container">
		<div id="enchant-stage" class="offset2"></div>
		<div class="offset2 massageinput">
			<input type="text" id="massageField"  placeholder="Write massage">
			<button class="btn btn-large btn-primary" type="button">Send</button>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Username</th>
                  <th>Massage</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>efwwewefwe</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>wefwefewef</td>
                </tr>
              </tbody>
            </table>
		</div>
	</div>
	
  </body>
</html>
